header {
    color: aliceblue;
    font-family: monospace;
    padding:0%;
    animation: rainbow 5s linear infinite;
    background-color:transparent;
}

.nav {
  font-size: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
  
.body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-left: auto; margin-right: auto; width: 70%;
    background-color:black;
    background-image: url(images/test.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: aliceblue;
}

#nuka-classic {
  color: coral;
}

#nuka-cherry {
    color: crimson;
}

#nuka-quantum {
    color: rgb(37, 245, 245);
}

table {
  margin-left: auto; margin-right: auto; width: 60%;
  border:crimson;
  color: aliceblue;
}

.table {
  color:olive;
  font-size: 14px;
}

.buy-button {
  padding: 10px 20px;
  background-color:azure;
  border-radius: 10px;
  transition: transform 0.7s ease;
}

.buy-button:hover {
  transform: scale(1.2);
  cursor:pointer;
  background-color:chartreuse
}

footer {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    color:antiquewhite;
    padding: 10px;
}

.product-img {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

#clear-cart {
  padding: 10px 20px;
  background-color:azure;
  border-radius: 10px;
  transition: transform 0.7s ease;
}

#clear-cart:hover {
  transform: scale(1.2);
  cursor:pointer;
  background-color:chartreuse;
}

#checkout-btn {
  padding: 10px 20px;
  background-color:azure;
  border-radius: 10px;
  transition: transform 0.7s ease;
}

#checkout-btn:hover {
  transform: scale(1.2);
  cursor:pointer;
  background-color:chartreuse;
}

  @keyframes rainbow {
    0% { color: red; }
    14% { color: orange; }
    28% { color: yellow; }
    42% { color: green; }
    56% { color: blue; }
    70% { color: indigo; }
    84% { color: violet; }
    100% { color: red; }
}


