header {
    color: aliceblue;
    background-color:black;
    font-family: monospace;

}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color:cornflowerblue;
  }

table, th, td {
    border: 7px;    
}

table {
    margin-left: auto; margin-right: auto; width: 50%;
    border:crimson;
}

td {
    text-align: center;
}

#buy-classic {
    background-color:aliceblue;
    color:black;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }
  
#buy-classic:hover {
    background-color:greenyellow;
  }

#buy-cherry {
    background-color:white;
    color:black;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }
  
#buy-cherry:hover {
    background-color:crimson;
  }

#buy-quantum {
    background-color:white;
    color:black;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }
  
#buy-quantum:hover {
    background-color:rgb(37, 245, 245);
  }

footer {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    color:crimson;
    padding: 10px;
  }