body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color:cornflowerblue;
  }

table {
    margin-left: auto; margin-right: auto; width: 50%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

th {
    width:20%
}

td {
    text-align: center;
}

tr:hover {background-color: blueviolet;
}